<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>whatsapp</string>
		<string>youtube</string>
		<string>instagram</string>
		<string>fb</string>
		<string>twitter</string>
		<string>snapchat</string>
		<string>tg</string>
		<string>zoomus</string>
		<string>googlegmail</string>
		<string>slack</string>
	</array>
</dict>
</plist>
